.productContainer{
    display:flex;
    margin-top:20px;
    width: 100%;
    position:relative;
}
.imgContainer{
    width: 100px;
    height: 100px;
}
.productInfo{
    margin-left: 20px;
    text-align: center;
    width: 80%;
    .productName{
        font-weight:700;
        margin-bottom:15px;
        text-align: start;
    }
}

.productControl{
    display:flex;
    gap: 25px;
    width: 80%;
    font-size:1.2rem;
    margin-top:25px;
    .cartIcon{
        width: 25px;
        height: 25px;
        background-color: rgb(236, 236, 236);
        border-radius: 50%;
    }
}

.price{
    font-weight:700;
    font-size:1.2rem;
    position:absolute;
    top:0;
    right:25px;
}


